{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "css/base.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/navbar.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/sidebar.css" %}" type="text/css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {#    Set the page title    #}
    {% if title %}
        <title>Paul Bryant - {{ title }}</title>
    {% else %}
        <title>Paul Bryant</title>
    {% endif %}

</head>
<body class="noscroll">
<header>
    <div class="nav">
        <div class="nav-header">
            <div class="nav-title">
                <a href="{% url 'blog-home' %}">
                    {% if title %}
                        Paul Bryant - {{ title }}
                    {% else %}
                        Paul Bryant
                    {% endif %}
                </a>

            </div>
        </div>
    </div>
</header>

<div id="sidebar"></div>
<div id="content">
    <button id="toggle-sidebar"></button>
    {% block content %}
    {% endblock content %}
</div>

<script src={% static "js/sidebar.js" %}></script>
<script src={% static "js/components/post.js" %}></script>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

</body>
</html>