.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
  grid-area: header;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav-title a {
  color: #fff;
  text-decoration: none;
}

.nav-title a:hover {
  color: #4d4d4d;
  text-decoration: none;
}